.form-control {
  border: 1px solid $input-border-color;
  border-radius: 0;
  height: 4rem;
  color: $black;
  &.form-control-search {
    padding-right: 40px;
    background: $input-bg $icon-search no-repeat right 8px center !important;
  }
  &.form-control-calendar {
    padding-right: 40px;
    background: $input-bg $icon-calendar no-repeat right 8px center !important;
  }

  &::-webkit-input-placeholder { /* Edge */
    color: rgba($gray-500,.6);
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba($gray-500,.6);
  }

  &::placeholder {
    color: rgba($gray-500,.6);
  }

}

.form-control-sm {
  height: $input-btn-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $font-size-sm;
  line-height: $input-line-height-sm;
  @include border-radius($input-border-radius-sm);
}

.form-control-lg {
  height: $input-btn-height-lg;
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $font-size-lg;
  line-height: $input-line-height-lg;
  @include border-radius($input-border-radius-lg);
}

select.form-control {
  &[size],
  &[multiple] {
    height: auto;
  }
}

select.form-control.form-control-sm {
  padding: $input-padding-y-sm ($input-padding-x-sm + 2rem) $input-padding-y-sm $input-padding-x-sm;
}

select.form-control.form-control-lg {
  padding: $input-padding-y-lg ($input-padding-x-lg + 2rem) $input-padding-y-lg $input-padding-x-lg;
}

.daterangepicker select,
select.form-control {
  &:not([multiple]) {
    background-size: 24px!important;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $input-bg url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='M14.833,8.6,11,12.33,7.167,8.6,6,9.735,11,14.6l5-4.865Z'/%3E%3C/svg%3E") no-repeat right 2px center !important;
    &:disabled {
      background-color: lighten($input-disabled-bg, 10%) !important;
    }
    &::-ms-expand {
      opacity: 0;
    }
  }
  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $input-color;
    background-color: $input-bg;
  }

}
