body {
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    background: #111111;
    background: -moz-radial-gradient(center, ellipse cover,  #222222 0%, #111111 60%, #000000 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #222222 0%, #111111 60%, #000000 100%);
    background: radial-gradient(ellipse at center,  #222222 0%, #111111 60%, #000000 100%);
    padding: 80px 0;
}

hr {
    border-color: $primary;
}

.img-fluid {
    max-width: 220px;
    margin: 0 auto 16px;
    display: block;
}

.box {
    background: $white;
    .btn-input,
    .form-control {
        border: 0;
        border-bottom: 1px solid $black;
        border-radius: 0;
    }
    .form-control {
        padding-left: 0;
        padding-right: 0;
    }
    label {
        font-size: 14px;
    }
}
