main {
    &::after {
        content: "";
        display: table;
        clear: both;
        @include media-breakpoint-down(md) {
            margin-bottom: 88px;
        }
        @include media-breakpoint-only(lg) {
            margin-bottom: 144px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 176px;
        }

    }
    width: 100vw;
    height: 100vh;
    background: $gray-100;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    flex: 1 0 auto;
    position: relative;
    @include media-breakpoint-up(xl) {
        width: calc(100vw - 280px);
    }
    @media screen and (min-width: 1440px) {
        width: calc(100vw - 330px);
    }

    .main-view {
        position: relative;
        padding: 30px 24px;
        @include media-breakpoint-down(sm) {
            padding: 24px 15px;
        }
        @include media-breakpoint-up(xl) {
            padding: 30px 40px;
        }
        @media screen and (min-width: 1819px) {
            padding-left: calc( (100vw - (1408px + 330px)) / 2 ) !important;
            padding-right: calc( (100vw - (1408px + 330px)) / 2 ) !important;
        }

        > h2:not(:first-child) {
            margin-top: 6rem;
            &::before {
                content: "";
                display: block;
                height: 6rem;
                margin-top: -6rem;
            }
        }

        > h3:not(:first-child) {
            margin-top: 4rem;
            &::before {
                content: "";
                display: block;
                height: 6rem;
                margin-top: -6rem;
            }
        }

        > h4:not(:first-child) {
            margin-top: 4rem;
            &::before {
                content: "";
                display: block;
                height: 6rem;
                margin-top: -6rem;
            }
        }

        h2 + h3 {
            margin-top: 0 !important;
            &::before {
                display: none !important;
            }
        }

        .table,
        ol,
        ul,
        .p,
        p {
            a:not([class]) {
                color: $primary;
            }
        }

        .main-title {
            display: -ms-flexbox;
            display: flex;
            border-bottom: 1px solid $black;
            margin-bottom: 40px;
            .h1,
            h1 {
                margin-bottom: 4px;
                small {
                    font-size: 16px;
                    line-height: 1.3em;
                }
            }
        }
    }
}
