<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <![endif]-->

    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <meta name="distribution" content="Global" />
    <meta name="msapplication-config" content="none"/>
    <meta name="copyright" content="© eurekamedia.pl" />

    <meta name="robots" content="noindex, nofollow"/>
    <meta name="format-detection" content="telephone=no"/>

    <meta name="title" content="POLSET admin panel">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap&subset=latin-ext" rel="stylesheet">


</head>

<body itemscope itemtype="http://schema.org/WebPage">


    <aside class="sidebar" id="sidebar-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="sidebar-head">
            <h1><a class="navbar-brand" href="/#/"><img src="./images/polset-black.svg" alt="cinkciarz design system"></a></h1>
            <button type="button" class="close ml-auto d-xl-none" data-toggle="sidebar" data-target="#sidebar-nav" aria-expanded="false" aria-controls="aside-nav">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="nav nav-sidebar" id="accordion-nav">
                <li class="nav-section">
                    <h4 class="nav-section-link">
                        <a class="nav-link active" href="#" data-navigo="" role="button">
                            <i class="icon-models"></i> Modele <sup class="badge">2</sup>
                        </a>
                    </h4>
                </li>
                <li class="nav-section">
                    <h4 class="nav-section-title">
                        <a class="nav-link" data-toggle="collapse" href="#section-item2" role="button" aria-expanded="false" aria-controls="section-item2">
                            <i class="icon-components"></i> Składniki wyceny
                        </a>
                    </h4>
                    <div class="collapse" id="section-item2" data-parent="#accordion-nav">
                        <ul class="nav-section-items">
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-navigo="" role="button">
                                    Item 2a
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-navigo="" role="button">
                                    Item 2b
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-navigo="" role="button">
                                    Item 2c
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-navigo="" role="button">
                                    Item 2d
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-section">
                    <h4 class="nav-section-link">
                        <a class="nav-link" href="#" data-navigo="" role="button">
                            <i class="icon-upholstery"></i> Materiały obiciowe
                        </a>
                    </h4>
                </li>
                <li class="nav-section">
                    <h4 class="nav-section-link">
                        <a class="nav-link" href="#" data-navigo="" role="button">
                            <i class="icon-orders"></i> Zamówienia
                        </a>
                    </h4>
                </li>
                <li class="nav-section">
                    <h4 class="nav-section-link">
                        <a class="nav-link" href="#" data-navigo="" role="button">
                            <i class="icon-customers"></i> Klienci
                        </a>
                    </h4>
                </li>
                <li class="nav-section">
                    <h4 class="nav-section-link">
                        <a class="nav-link" href="#" data-navigo="" role="button">
                            <i class="icon-settings"></i> Ustawienia
                        </a>
                    </h4>
                </li>

            </ul>
        </div>
        <div class="sidebar-foot">
            <div class="app-version">
                Version 1.0.0
            </div>
        </div>
    </aside>


    <main role="main" itemscope itemprop="mainContentOfPage">

        <div class="main-header">
            <nav class="navbar">
                <a class="navbar-brand d-xl-none" href="/#/"><img src="./images/polset-white.svg" alt="cinkciarz design system"></a>
                <ul class="navbar-nav ml-auto flex-row">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-sm-inline">Jan Kowalski</span>
                            <span class="avatar bg-primary ml-sm-16">JK</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <button type="button" data-toggle="sidebar" data-target="#sidebar-nav" aria-expanded="false" aria-controls="aside-nav" class="btn btn-sm btn-outline-light ml-32 d-xl-none">Menu</button>
            </nav>
        </div>

        <div class="main-view" id="view">

            <div class="d-flex mb-24">
                <a href=""><i class="icon-arrow-left mr-8"></i> <span class="black">wróć do Klienci</span></a>
            </div>

            <div class="main-title flex-column flex-sm-row align-items-sm-center px-md-16">
                <h1>Zamówienie  <span class="app-color-1">ABC123</span></h1>
            </div>
            <div class="d-flex flex-wrap justify-content-between px-md-16 mb-40 mt-n16">
                <a href="" class="btn btn-sm btn-outline-dark mb-16 mr-16"><i class="icon-printer mr-16"></i> Drukuj</a>
                <div class="d-flex align-items-center mb-16">
                    <span class="mr-16">Pobierz</span>
                    <a href="" class="btn btn-sm btn-outline-dark mr-16">PDF</a>
                    <a href="" class="btn btn-sm btn-outline-dark mr-16">CSV</a>
                    <a href="" class="btn btn-sm btn-outline-dark">Excel</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 d-flex">
                    <div class="box-block d-flex align-items-center">
                        <div class="w-100">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    Klient:
                                </div>
                                <div class="col-md-8">
                                    <strong class="h3">Nolte-Möbel GmbH & Co.</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-block box-block-gray py-3">
                        Data zamówienia: <strong>2019.06.28 08:30:12</strong>
                    </div>
                    <div class="box-block box-block-gray py-3">
                        Data ostatniej aktualizacji statusu: <strong>2019.06.29 15:45:50</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-flex">
                    <div class="box-block d-flex align-items-center">
                        <div class="w-100">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    Wartość zamówienia::
                                </div>
                                <div class="col-md-8">
                                    <strong class="h3">9 610,00 EUR</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-block box-block-white">
                        <div class="row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-6">
                                <select class="form-control custom-select" title="select item" id="staticEmail">
                                    <option value="1" data-content="<span class='status status-new'>NOWE</span>">NOWE</option>
                                    <option value="3" data-content="<span class='status status-confirmed'>ZATWIERDZONE</span>">ZATWIERDZONE</option>
                                    <option value="4" data-content="<span class='status status-inprogress'>W REALIZACJI</span>">W REALIZACJI</option>
                                    <option value="5" data-content="<span class='status status-canceled'>ANULOWANE</span>">ANULOWANE</option>
                                    <option value="5" data-content="<span class='status status-completed'>ZREALIZOWANE</span>">ZREALIZOWANE</option>
                                </select>
                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="submit" class="btn btn-dark">ZMIEŃ STATUS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix mb-32"></div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Lp</th>
                            <th>Model</th>
                            <th class="text-right">Cena na biało</th>
                            <th>Materiał obiciowy</th>
                            <th>Kategoria materiału</th>
                            <th class="text-right">Wartość materiału</th>
                            <th class="text-right">Cena za szt.</th>
                            <th class="text-center">Ilość</th>
                            <th class="text-right">Wartość</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><strong>Alvesta Pillow Armchair Black Metal</strong></td>
                            <td class="text-right">200,00 EUR</td>
                            <td>Cowboy 802 camel</td>
                            <td>Tkanina</td>
                            <td class="text-right">50,00 EUR</td>
                            <td class="text-right">250,00 EUR</td>
                            <td class="text-center">20</td>
                            <td class="text-right">5 000,00 EUR</td>
                        </tr>
                        <tr class="caption">
                            <td colspan="9">Uwagi do produktu: <span class="black">Proszę zastosować podwójne przeszycie na całym obwodzie.</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><strong>Jessica Chair</strong></td>
                            <td class="text-right">100,00 EUR</td>
                            <td>Bronco 05</td>
                            <td>Tkanina</td>
                            <td class="text-right">50,00 EUR</td>
                            <td class="text-right">250,00 EUR</td>
                            <td class="text-center">20</td>
                            <td class="text-right">5 000,00 EUR</td>
                        </tr>
                        <tr class="caption">
                            <td colspan="9">Uwagi do produktu: <span class="black">Proszę zastosować podwójne przeszycie na całym obwodzie.</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><strong>Sam Pillow</strong></td>
                            <td class="text-right">300,00 EUR</td>
                            <td>Verona 21 / Verona 12</td>
                            <td>Tkanina</td>
                            <td class="text-right">50,00 EUR</td>
                            <td class="text-right">250,00 EUR</td>
                            <td class="text-center">20</td>
                            <td class="text-right">5 000,00 EUR</td>
                        </tr>
                        <tr class="caption">
                            <td colspan="9">Uwagi do produktu: <span class="black">Proszę zastosować podwójne przeszycie na całym obwodzie.</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="box-block">
                <span class="gray-500">Uwagi do zamówienia:</span> Proszę ładnie zapakować w papier kolorowy, najlepiej różowy.
            </div>

        </div>
    </main>


    <div class="bs4-xs d-block d-sm-none"></div>
    <div class="bs4-sm d-none d-sm-block d-md-none"></div>
    <div class="bs4-md d-none d-md-block d-lg-none"></div>
    <div class="bs4-lg d-none d-lg-block d-xl-none"></div>
    <div class="bs4-xl d-none d-xl-block d-sl-none"></div>
    <div class="bs4-sl d-none d-sl-block"></div>

</body>
</html>
