<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <![endif]-->

    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <meta name="distribution" content="Global" />
    <meta name="msapplication-config" content="none"/>
    <meta name="copyright" content="© eurekamedia.pl" />

    <meta name="robots" content="noindex, nofollow"/>
    <meta name="format-detection" content="telephone=no"/>

    <meta name="title" content="POLSET admin panel">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap&subset=latin-ext" rel="stylesheet">


</head>

<body itemscope itemtype="http://schema.org/WebPage">

    <aside class="sidebar" id="sidebar-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="sidebar-head">
            <h1><a class="navbar-brand" href="/#/"><img src="./images/polset-black.svg" alt="cinkciarz design system"></a></h1>
            <button type="button" class="close ml-auto d-xl-none" data-toggle="sidebar" data-target="#sidebar-nav" aria-expanded="false" aria-controls="aside-nav">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="nav nav-sidebar" id="accordion-nav">
                <li class="nav-section">
                    <h4 class="nav-section-link">
                        <a class="nav-link active" href="#" data-navigo="" role="button">
                            <i class="icon-models"></i> Modele <sup class="badge">2</sup>
                        </a>
                    </h4>
                </li>
                <li class="nav-section">
                    <h4 class="nav-section-title">
                        <a class="nav-link" data-toggle="collapse" href="#section-item2" role="button" aria-expanded="false" aria-controls="section-item2">
                            <i class="icon-components"></i> Składniki wyceny
                        </a>
                    </h4>
                    <div class="collapse" id="section-item2" data-parent="#accordion-nav">
                        <ul class="nav-section-items">
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-navigo="" role="button">
                                    Item 2a
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-navigo="" role="button">
                                    Item 2b
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-navigo="" role="button">
                                    Item 2c
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-navigo="" role="button">
                                    Item 2d
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-section">
                    <h4 class="nav-section-link">
                        <a class="nav-link" href="#" data-navigo="" role="button">
                            <i class="icon-upholstery"></i> Materiały obiciowe
                        </a>
                    </h4>
                </li>
                <li class="nav-section">
                    <h4 class="nav-section-link">
                        <a class="nav-link" href="#" data-navigo="" role="button">
                            <i class="icon-orders"></i> Zamówienia
                        </a>
                    </h4>
                </li>
                <li class="nav-section">
                    <h4 class="nav-section-link">
                        <a class="nav-link" href="#" data-navigo="" role="button">
                            <i class="icon-customers"></i> Klienci
                        </a>
                    </h4>
                </li>
                <li class="nav-section">
                    <h4 class="nav-section-link">
                        <a class="nav-link" href="#" data-navigo="" role="button">
                            <i class="icon-settings"></i> Ustawienia
                        </a>
                    </h4>
                </li>

            </ul>
        </div>
        <div class="sidebar-foot">
            <div class="app-version">
                Version 1.0.0
            </div>
        </div>
    </aside>

    <main role="main" itemscope itemprop="mainContentOfPage">

        <div class="main-header">
            <nav class="navbar">
                <a class="navbar-brand d-xl-none" href="/#/"><img src="./images/polset-white.svg" alt="cinkciarz design system"></a>
                <ul class="navbar-nav ml-auto flex-row">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-sm-inline">Jan Kowalski</span>
                            <span class="avatar bg-primary ml-sm-16">JK</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <button type="button" data-toggle="sidebar" data-target="#sidebar-nav" aria-expanded="false" aria-controls="aside-nav" class="btn btn-sm btn-outline-light ml-32 d-xl-none">Menu</button>
            </nav>
        </div>

        <div class="main-view" id="view">

            <div class="d-flex mb-24">
                <a href=""><i class="icon-arrow-left mr-8"></i> <span class="black">wróć do Klienci</span></a>
            </div>

            <div class="px-md-16">
                <div class="h1 app-color-1 mb-16">Kalkulacja</div>
            </div>
            <div class="main-title flex-column flex-sm-row align-items-sm-center px-md-16">
                <h1>Bono Fix <small>Fotele</small></h1>
                <div class="ml-sm-auto">
                    <a href="" class="mr-8"><i class="icon-arrow-left mr-8"></i> <span class="black">poprzedni</span></a>
                    <a href="" class="ml-8"><span class="black">następny</span> <i class="icon-arrow-right ml-8"></i></a>
                </div>
            </div>
            <div class="d-flex flex-sm-row align-items-sm-center px-md-16 mt-n32 mb-32">
                <p>Ostatnia aktualizacja: <strong>2019-12-16 15:46</strong></p>
                <div class="ml-sm-auto">
                    <p>1 z 58 produktów</p>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row align-items-sm-center px-16">
                <div class="ml-n16 d-flex">
                    <a href="" class="btn btn-lg btn-check active mr-16 mb-16">Tkanina</a>
                    <a href="" class="btn btn-lg btn-check checked mr-16 mb-16">Skóra</a>
                    <a href="" class="btn btn-lg btn-check mr-16 mb-16">Tkanina z wzorem</a>
                </div>

                <div class="ml-sm-auto mb-16">
                    <a href="" class="btn btn-sm btn-outline-dark">POKAŻ FILTRY</a>
                </div>
            </div>

            <h3 class="h6 bg-black white px-16 py-8 mt-0">SUROWCE</h3>
            <div class="accordion">
                <div id="headingOne">
                    <button class="btn btn-link btn-accordion" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        SUROWCE PODSTAWOWE
                    </button>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">Wybierz</th>
                                <th>Nazwa</th>
                                <th class="text-center">Jednostka miary</th>
                                <th class="text-right">Cena za jednostkę</th>
                                <th class="text-center">Ilość</th>
                                <th class="text-right">Wartość</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="selected">
                                <td class="text-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControl1" onchange="selectRow(this);">
                                        <label class="custom-control-label" for="customControl1"></label>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" id="exampleInputEmail2">
                                        <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </td>
                                <td class="text-center">szt.</td>
                                <td class="text-right">50,00 PLN</td>
                                <td class="text-center">
                                    <input type="text" class="form-control mx-auto text-center" style="width: 40px">
                                </td>
                                <td class="text-right">50,00 PLN</td>
                            </tr>
                            <tr class="selected">
                                <td class="text-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControl4" onchange="selectRow(this);">
                                        <label class="custom-control-label" for="customControl4"></label>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" id="exampleInputEmail4">
                                        <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </td>
                                <td class="text-center">szt.</td>
                                <td class="text-right">55,00 PLN</td>
                                <td class="text-center">
                                    <input type="text" class="form-control mx-auto text-center" style="width: 40px">
                                </td>
                                <td class="text-right">55,00 PLN</td>
                            </tr>
                            <tr class="selected">
                                <td class="text-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControl10" onchange="selectRow(this);">
                                        <label class="custom-control-label" for="customControl10"></label>
                                    </div>
                                </td>
                                <td>Pianka</td>
                                <td class="text-center">szt.</td>
                                <td class="text-right">77,00 PLN</td>
                                <td class="text-center">
                                    <input type="text" class="form-control mx-auto text-center" style="width: 40px">
                                </td>
                                <td class="text-right">77,00 PLN</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="headingTwo">
                    <button class="btn btn-link btn-accordion collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        DODATKI
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">Wybierz</th>
                                <th>Nazwa</th>
                                <th class="text-center">Jednostka miary</th>
                                <th class="text-right">Cena za jednostkę</th>
                                <th class="text-center">Ilość</th>
                                <th class="text-right">Wartość</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="unselected">
                                <td class="text-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControl11" onchange="selectRow(this);">
                                        <label class="custom-control-label" for="customControl11"></label>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" id="exampleInputEmail12">
                                        <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </td>
                                <td class="text-center">szt.</td>
                                <td class="text-right">55,00 PLN</td>
                                <td class="text-center">
                                    <input type="text" class="form-control mx-auto text-center" style="width: 40px">
                                </td>
                                <td class="text-right">55,00 PLN</td>
                            </tr>
                            <tr class="selected">
                                <td class="text-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControl14" onchange="selectRow(this);">
                                        <label class="custom-control-label" for="customControl14"></label>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" id="exampleInputEmail21">
                                        <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </td>
                                <td class="text-center">szt.</td>
                                <td class="text-right">22,00 PLN</td>
                                <td class="text-center">
                                    <input type="text" class="form-control mx-auto text-center" style="width: 40px">
                                </td>
                                <td class="text-right">22,00 PLN</td>
                            </tr>
                            <tr class="selected">
                                <td class="text-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControl12" onchange="selectRow(this);">
                                        <label class="custom-control-label" for="customControl12"></label>
                                    </div>
                                </td>
                                <td>Pianka</td>
                                <td class="text-center">szt.</td>
                                <td class="text-right">88,00 PLN</td>
                                <td class="text-center">
                                    <input type="text" class="form-control mx-auto text-center" style="width: 40px">
                                </td>
                                <td class="text-right">88,00 PLN</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bg-gray-400 px-16 py-8 mt-0 d-flex mt-16 mb-48">
                SUROWCE SUMA
                <div class="ml-auto">
                    243,50 PLN
                </div>
            </div>

            <div class="bg-black white px-16 py-24 d-flex mt-16">
                WYCENA KOŃCOWA
            </div>
            <div class="bg-white px-16 py-8 mt-0 d-flex mb-8">
                SUROWCE SUMA
                <div class="ml-auto">
                    243,50 PLN
                </div>
            </div>
            <div class="bg-white px-16 py-8 mt-0 d-flex mb-8">
                PŁACE SUMA
                <div class="ml-auto">
                    77,10 PLN
                </div>
            </div>
            <div class="bg-white px-16 py-8 mt-0 d-flex mb-8">
                <span>KW <small class="gray-500">mnożnik = 1,0</small></span>
                <div class="ml-auto">
                    10,00 PLN
                </div>
            </div>
            <div class="bg-white px-16 py-8 mt-0 d-flex mb-8">
                <span>KOZ <small class="gray-500">mnożnik = 1,0</small></span>
                <div class="ml-auto">
                    24,00 PLN
                </div>
            </div>
            <div class="bg-gray-400 px-16 py-24 d-flex mb-16">
                <strong>SUROWCE SUMA</strong>
                <div class="ml-auto">
                    243,50 PLN
                </div>
            </div>

            <div class="bg-white px-16 py-24 d-flex flex-column flex-sm-row align-items-sm-center mb-8">
                <strong>ZYSK FAKTYCZNY</strong>
                <div class="ml-sm-auto d-flex align-items-center">
                    <input type="text" class="form-control mr-16 text-right" style="width: 80px;" value="19,61"> PLN
                </div>
            </div>
            <div class="bg-app-color-6 px-16 py-24 d-flex flex-column flex-sm-row align-items-sm-center mb-8">
                <span><strong>SPRZEDAŻ PLN</strong> Cena na biało bez transportu w PLN</span>
                <div class="ml-sm-auto">
                    <span class="font-24 no-wrap">381,30 PLN</span>
                </div>
            </div>
            <div class="bg-white px-16 py-24 d-flex flex-column flex-sm-row align-items-sm-center mb-8">
                <span><strong>RENTOWNOŚĆ</strong> zysk w %</span>
                <div class="ml-sm-auto">
                    <span>(19,61 / 381,30) x 100% = </span> <span class="font-24 no-wrap">5,14 %</span>
                </div>
            </div>
            <div class="bg-app-color-6 px-16 py-24 d-flex flex-column flex-sm-row align-items-sm-center mb-8">
                <span><strong>SPRZEDAŻ EUR</strong> Cena na biało bez transportu w EUR</span>
                <div class="ml-sm-auto">
                    <span class="mr-16">(kurs 4,10 EUR/PLN)</span>
                    <span class="font-24 no-wrap">93,00 EUR</span>
                </div>
            </div>
            <div class="bg-white px-16 py-24 d-flex flex-column flex-sm-row align-items-sm-center mb-8">
                Oblicz sprzedaż EUR dla innego kursu
                <div class="ml-sm-auto d-flex align-items-center">
                    <div class="d-inline-flex align-items-center mr-32">
                        <input type="text" class="form-control mr-16 text-right" style="width: 80px;" value="19,61"> PLN
                    </div>
                    <span class="font-24 no-wrap">89,72 EUR</span>
                </div>
            </div>

            <div class="px-16 py-16 d-flex align-items-center mb-8 mt-32">
                <strong>ZUŻYCIE MATERIAŁU OBICIOWEGO</strong>
            </div>
            <div class="bg-white px-16 py-24 d-flex align-items-center mb-8">
                Zużycie szwalnia
                <div class="ml-auto d-flex align-items-center">
                    <input type="text" class="form-control mr-16 text-right" style="width: 80px;" value="19,61"> mb
                </div>
            </div>
            <div class="bg-white px-16 py-24 d-flex align-items-center mb-8">
                Zużycie klient
                <div class="ml-auto d-flex align-items-center">
                    <input type="text" class="form-control mr-16 text-right" style="width: 80px;" value="19,61"> mb
                </div>
            </div>

            <div class="text-sm-right mt-16">
                <button type="button" class="btn w-100 w-sm-auto btn-lg my-8 btn-link">Anuluj zmiany</button>
                <button type="button" class="btn w-100 w-sm-auto btn-lg my-8 btn-secondary">ZAPISZ SZKIC</button>
                <button type="button" class="btn w-100 w-sm-auto btn-lg my-8 btn-primary">ZAPISZ</button>
            </div>

        </div>
    </main>


    <div class="bs4-xs d-block d-sm-none"></div>
    <div class="bs4-sm d-none d-sm-block d-md-none"></div>
    <div class="bs4-md d-none d-md-block d-lg-none"></div>
    <div class="bs4-lg d-none d-lg-block d-xl-none"></div>
    <div class="bs4-xl d-none d-xl-block d-sl-none"></div>
    <div class="bs4-sl d-none d-sl-block"></div>

</body>
</html>
